# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env

# Python Cache & Build Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
*.egg-info/
dist/
build/
*.aac
*.wav
# Database & Storage
*.db
*.sqlite3
_university_rag_index_v2/
app/data/_university_rag_index_v2/

# Heavy ML Models & Tokenizers (Keep locally / share via Drive)
*.keras
*.h5
*.pkl
*.pt
*.bin